* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background: linear-gradient(270deg, #2f80af, #4eade3);
    background-size: 400% 400%;
    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
}
.btn {
    text-decoration: none;
    color: #ffffff;
    background-color: #000;
    padding: 0.75em 1em;
    margin-top: 1em;
    border-radius: 2em;
    font-family: 'Kanit', sans-serif;
    cursor: pointer;
    transition: 0.5s ease-in;
}
.btn:hover {
    background-color: #fff;
    color: #000;
    transition: 0.5s ease-in;
}
@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
}
.nom {
    font-family: 'Kanit', sans-serif;
    font-size: 3rem;
}
.pays {
    font-family: 'Kanit', sans-serif;
    font-size: 1.75rem;
}
